<?xml version="1.0" encoding="UTF-8"?>
<config>
    <modules>
        <Aoe_Ayah>
            <version>0.1.0</version>
        </Aoe_Ayah>
    </modules>
    <global>
        <helpers>
            <ayah>
                <class>Aoe_Ayah_Helper</class>
            </ayah>
        </helpers>
        <models>
            <ayah>
                <class>Aoe_Ayah_Model</class>
            </ayah>
        </models>
        <events>
            <controller_action_predispatch_customer_account_createpost>
                <observers>
                    <aoe_ayah_register>
                        <class>ayah/observer</class>
                        <method>validateAyahRegistration</method>
                    </aoe_ayah_register>
                </observers>
            </controller_action_predispatch_customer_account_createpost>
            <controller_action_predispatch_customer_account_loginPost>
                <observers>
                    <aoe_ayah_login>
                        <class>ayah/observer</class>
                        <method>validateAyahLogin</method>
                    </aoe_ayah_login>
                </observers>
            </controller_action_predispatch_customer_account_loginPost>
            <controller_action_predispatch_customer_account_forgotpasswordpost>
                <observers>
                    <aoe_ayah_password>
                        <class>ayah/observer</class>
                        <method>validateAyahForgotPassword</method>
                    </aoe_ayah_password>
                </observers>
            </controller_action_predispatch_customer_account_forgotpasswordpost>
        </events>
    </global>
    <frontend>
        <layout>
            <updates>
                <ayah module="Aoe_Ayah">
                    <file>ayah/ayah.xml</file>
                </ayah>
            </updates>
        </layout>
        <translate>
            <modules>
                <Aoe_Ayah>
                    <files>
                        <default>Aoe_Ayah.csv</default>
                    </files>
                </Aoe_Ayah>
            </modules>
        </translate>
    </frontend>
    <adminhtml>
        <translate>
            <modules>
                <Aoe_Ayah>
                    <files>
                        <default>Aoe_Ayah.csv</default>
                    </files>
                </Aoe_Ayah>
            </modules>
        </translate>
    </adminhtml>
</config>